.row-display {
  display: flex;
}
.top-separator-16 {
  margin-top: 16px;
}

.top-separator-10 {
  margin-top: 10px;
}

.top-separator-8 {
  margin-top: 8px;
}

.short-description {
  display: flex;
}

.bolded {
  font-family: "Lato, Bold";
}
