.row-display {
  display: flex;
}
.top-separator-16 {
  margin-top: 16px;
}

.top-separator-10 {
  margin-top: 10px;
}

.top-separator-8 {
  margin-top: 8px;
}

.short-description {
  display: flex;
}

.bolded {
  font-family: "Lato, Bold";
}

.navigation-setup:is(.darkTheme) {
  .dataDisplayHeader[style*="color: black"] {
    color: var(--white) !important;
    transition: color 0.3s ease-in-out;
  }
}
