.medication-info-modal {
  background: var(--white) 0% 0% no-repeat padding-box;
  border-radius: 6px;
  box-shadow: 0px 10px 20px #00000034;
  width: 900px;
  @media screen and (max-width: 900px) {
    width: 100vw;
  }
  &__header {
    display: flex;
    box-shadow: 0px 1px 0px var(--unnamed-color-e2e2e3);
    padding: 20px;
    height: 78px;
    align-items: center;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    &__header-text {
      flex-direction: column;
      display: flex;
      left: 12px;
      position: relative;
      .header-main-text {
        text-align: left;
        font: normal normal normal 14px/17px "Lato, Bold";
        color: #474747;
      }
      .header-small-text {
        text-align: left;
        font: normal normal normal 13px/19px "Lato, Regular";
        letter-spacing: 0px;
        color: #474747;
      }
    }
  }

  &__body {
    padding: 20px;
    display: flex;

    @media screen and (max-width: 900px) {
      flex-direction: column;
      .medication-info-modal__body__left-side {
        padding: 0;
        width: 100%;
      }
      .medication-info-modal__body__right-side {
        padding: 0;
        width: 100%;
        margin-top: 20px;
      }
    }
    &__left-side {
      padding-right: 10px;
      width: 50%;
      display: flex;
      flex-direction: column;
    }
    &__right-side {
      padding-left: 10px;
      width: 50%;
      display: flex;
      flex-direction: column;
    }
    input,
    textarea {
      padding: 8px 10px;
      font-size: 16px;
      width: 100%;
      height: 30px;
      background-color: var(--white);
      border: 1px solid var(--light-gray);
      border-radius: 4px;
    }
    textarea {
      height: 100px;
      max-height: 300px;
      min-height: 50px;
      resize: vertical;
    }
    .new-alergy-input {
      margin-top: 10px;
    }
    .alergy-list-display-title {
      margin-top: 20px;
    }
    .add-new-contraindication {
      border: none;
      color: var(--white);
      border-radius: 4px;
      height: 38px;
      width: fit-content;
      margin-top: 10px;
      background: var(--hyperlink) 0% 0% no-repeat padding-box;
      font: normal normal bold 14px "Lato, Regular";
      &:hover {
        cursor: pointer;
        color: white;
        background: #0964b9;
      }
      &:disabled {
        color: var(--main-text);
        background: var(--light-gray);
        cursor: not-allowed;
      }
    }
    .alergy-list-display {
      display: inline-flex;
      justify-content: space-evenly;
      width: 100%;
      margin: 20px 0;
      &__subject-name {
        font-family: "Lato, Bold";
      }
      .name,
      .slots,
      .year,
      .actions {
        width: 25%;
      }
      .actions {
        display: flex;
        justify-content: space-evenly;
        .edit,
        .delete {
          border: none;
          background: var(--hyperlink) 0% 0% no-repeat padding-box;
          border-radius: 4px;
          font-size: 15px;
          align-self: center;
          padding: 4px 4px;
          color: var(--white);
          cursor: pointer;
          font-family: "Lato, Bold";
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }

  .footer {
    padding: 0 20px 20px 20px;
    width: 100%;
    background: #f5f5f5 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-direction: row;
    &__send-button {
      border: none;
      color: var(--white);
      border-radius: 4px;
      height: 38px;
      width: 100%;
      margin-top: 20px;
      background: var(--hyperlink) 0% 0% no-repeat padding-box;
      font: normal normal bold 14px "Lato, Regular";
      &:hover {
        cursor: pointer;
        color: white;
        background: #0964b9;
      }
    }
    &__remove-button {
      border: none;
      color: var(--white);
      border-radius: 4px;
      height: 38px;
      width: 100%;
      margin-top: 20px;
      margin-right: 20px;
      background: var(--alert-text) 0% 0% no-repeat padding-box;
      font: normal normal bold 14px "Lato, Regular";
      &:hover {
        cursor: pointer;
        color: white;
        background: #a51e1e;
      }
    }
  }
}
