.navigation-setup:is(.darkTheme) {
  .list-table {
    box-shadow: 0 0 0 1px transparent;
    transition: all 0.2s ease-in-out;
    &__table-header {
      &__row {
        transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
        color: var(--white);
        background: var(--input-dark-background);
        border-bottom: 1px solid transparent;
      }
    }
    &__item-row {
      color: var(--white);
      .item-row {
        border: 1px solid var(--input-dark-background);
        transition: border 0.2s ease-in-out, background 0.2s ease-in-out;
        &:nth-child(even) {
          background: var(--input-dark-background) 0% 0% no-repeat padding-box;
        }
        &:nth-child(odd) {
          background: var(--input-darker-background) 0% 0% no-repeat padding-box;
        }
      }
    }
  }
}

.list-table {
  border-spacing: 0;
  border-collapse: collapse;
  border-style: hidden;
  box-shadow: 0 0 0 1px var(--unnamed-color-e2e2e3);
  transition: all 0.2s ease-in-out;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
  &__table-header {
    text-align: left;
    &__row {
      transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
      background: var(--unnamed-color-f9fafb) 0% 0% no-repeat padding-box;
      border-bottom: 1px solid var(--unnamed-color-e2e2e3);
      border-radius: 4px 4px 0px 0px;
      height: 47px;
      &__header {
        padding: 0 0 0 40px;
        font: normal normal normal 14px "Lato, Bold";
        user-select: none;
        -webkit-user-select: none;
        &:last-child {
          padding: 0 40px 0 40px;
        }
      }
    }
  }
  &__item-row {
    text-align: left;
    font: normal normal normal 14px "Lato, Regular";
    color: var(--main-text);
    text-align: left;
    letter-spacing: 0px;
    .spacer {
      height: 50px;
    }
    .item-row {
      transition: border 0.2s ease-in-out, background 0.2s ease-in-out;
      td {
        padding: 10px 0 10px 40px;
        #link-to-medication-page,
        #link-to-internship-page,
        #link-to-mentor-page,
        #link-to-subject-edit-page,
        #link-to-professor-page,
        .url,
        .action-button {
          border: none;
          background: none;
          color: var(--hyperlink);
          cursor: pointer;
          text-decoration: none;
          padding: 0;
          &.disabled {
            cursor: not-allowed;
            color: grey;
          }
          &:disabled {
            cursor: not-allowed;
            color: grey;
          }
        }

        .choose {
          user-select: none;
          -webkit-user-select: none;
          border: none;
          cursor: pointer;
        }
        .decline {
          user-select: none;
          -webkit-user-select: none;
          border: none;
          cursor: pointer;
          color: #db2828;
        }

        .company-url,
        #open-send-email-modal {
          color: var(--hyperlink);
          cursor: pointer;
          text-decoration: none;
          padding: 0;
        }
        &:last-child {
          padding: 0 40px 0 40px;
        }
      }
      &:nth-child(even) {
        background: var(--unnamed-color-f9fafb) 0% 0% no-repeat padding-box;
        border: 1px solid var(--unnamed-color-e2e2e3);
      }
      &:nth-child(odd) {
        background: var(--white) 0% 0% no-repeat padding-box;
      }

      .action-row {
        display: flex;
        justify-content: space-around;
        padding-right: 0px;
        td {
          padding: 0;
        }
      }
    }
  }
}
