.medications-list-page {
  -webkit-animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  &__list {
    &__display-list {
      &__not-found {
        font-family: 'Lato, Bold';
        font-size: 18px;
        width: fit-content;
        margin: auto;
      }
    }
  }
}
